<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.qiujuer.powerback.ankey">

    <application
        android:name=".AnKeyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CreateActivity"
            android:label="@string/activity_title_create"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EditActivity"
            android:label="@string/activity_title_edit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DetailActivity"
            android:label="@string/activity_title_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.KeyVerifyActivity"
            android:label="@string/activity_title_key_verify"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.KeyCreateActivity"
            android:label="@string/activity_title_key_create"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.KeyEditActivity"
            android:label="@string/activity_title_key_edit"
            android:screenOrientation="portrait" />
    </application>

</manifest>
